In [30]:
import pandas as ps
import dates_module as dm
import random as rm

%matplotlib inline

NAME_ARCHIVE = "EMPRENDEDORES_-_PUENTE_NACIONAL.csv"


dates = dm.load_archive(NAME_ARCHIVE,"csv")
dm.set_value_is_na(dates['EDAD EN AÑOS'],dm.get_dates_three_cuartil(dates["EDAD EN AÑOS"]))
dates = dm.set_convert_dtypes(dates,{"EDAD EN AÑOS": int})



#dm.get_dates_duplicated(dates)

dates.head(15)

,CONSECUTIVO,NOMBRE,TIPO DE EMPRENDIMIENTO,AÑO VINCULACIÓN,EDAD EN AÑOS,SECTOR ECONOMICO,ESCOLARIDAD,EVIDENCIAS,NUMERO DE EMPLEOS GENERADOS,ESTADO
0,1,EMPRENDEDOR NUMERO 1,PISCICOLA,2022,52,AGRO INDUSTRIAL,PRIMARIA,fotograficas,3,ACTIVO
1,2,EMPRENDEDOR NUMERO 2,CULTIVO Y VENTA DE TOMATE,2022,26,AGRO INDUSTRIAL,PROFESIONAL,fotograficas,8,ACTIVO
2,3,EMPRENDEDOR NUMERO 3,ELECTRICIDAD AUTOMOTRIZ,2022,59,COMERCIAL,PRIMARIA,fotograficas,3,ACTIVO
3,4,EMPRENDEDOR NUMERO 4,PANADERIA,2022,49,INDUSTRIAL,SECUNDARIA,fotograficas,2,ACTIVO
4,5,EMPRENDEDOR NUMERO 5,INDUSTRIAL,2022,42,INDUSTRIAL,SECUNDARIA,fotograficas,2,ACTIVO
5,6,EMPRENDEDOR NUMERO 6,COCINAS INTEGRALES,2022,19,INDUSTRIAL,TECNICO,fotograficas,2,ACTIVO
6,7,EMPRENDEDOR NUMERO 7,PANADERIA Y DULCES,2022,52,INDUSTRIAL,SECUNDARIA,fotograficas,2,ACTIVO
7,8,EMPRENDEDOR NUMERO 8,FABRICACION DE POCILLOS,2022,57,ARTESANO,PRIMARIA,fotograficas,1,ACTIVO
8,9,EMPRENDEDOR NUMERO 9,FABRICA PRODUCTOS DE SOYA ( QUESO),2022,40,AGRO INDUSTRIAL,SECUNDARIA,fotograficas,2,ACTIVO
9,10,EMPRENDEDOR NUMERO 10,ARTESANIAS EN MADERA,2022,41,ARTESANO,TECNICO,fotograficas,1,ACTIVO
10,11,EMPRENDEDOR NUMERO 11,VENTA DE ACCESORIOS Y MAQUILLAJE,2021,24,COMERCIAL,PROFESIONAL,fotograficas,1,ACTIVO
11,12,EMPRENDEDOR NUMERO 12,PINTURA Y ARTE,2021,44,ARTESANO,SECUNDARIA,fotograficas,1,ACTIVO
12,13,EMPRENDEDOR NUMERO 13,CAFÉ TOSTADO,2021,65,AGRO INDUSTRIAL,PRIMARIA,fotograficas,2,ACTIVO
13,14,EMPRENDEDOR NUMERO 14,FOTOGRAFIA Y DISEÑO,2021,26,COMERCIAL,TECNOLOGO,fotograficas,2,ACTIVO
14,15,EMPRENDEDOR NUMERO 15,TAPICERIA,2021,47,INDUSTRIAL,SECUNDARIA,fotograficas,1,ACTIVO

In [29]:
dates["NUMERO DE EMPLEOS GENERADOS"].sum()

128

In [19]:
dates.columns

Index(['CONSECUTIVO', 'NOMBRE', 'TIPO DE EMPRENDIMIENTO', 'AÑO VINCULACIÓN',
       'EDAD EN AÑOS', 'SECTOR ECONOMICO', 'ESCOLARIDAD', 'EVIDENCIAS',
       'NUMERO DE EMPLEOS GENERADOS', 'ESTADO'],
      dtype='object')

In [20]:
dm.get_dates_shape(dates)

(77, 10)

In [22]:
dm.get_dates_info(dates)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CONSECUTIVO                  77 non-null     int64
 1   NOMBRE                       77 non-null     object
 2   TIPO DE EMPRENDIMIENTO       77 non-null     object
 3   AÑO VINCULACIÓN              77 non-null     int64
 4   EDAD EN AÑOS                 77 non-null     int32
 5   SECTOR ECONOMICO             77 non-null     object
 6   ESCOLARIDAD                  77 non-null     object
 7   EVIDENCIAS                   77 non-null     object
 8   NUMERO DE EMPLEOS GENERADOS  77 non-null     int64
 9   ESTADO                       77 non-null     object
dtypes: int32(1), int64(3), object(6)
memory usage: 5.8+ KB